@import "../../../App.scss";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");

.cart {
    
    &__wrapper {
        font-family: "Quicksand", sans-serif;
        width: 100%;
        margin-top: 100px;
        margin-bottom: 100px;
       
    }

    &__title {
        display: flex;
        font-weight: 700;
        font-size: 1.1rem;
        width: 100%;
        height: 50px;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-bottom: 1px solid rgb(220, 220, 220);
    }
    &__img {
        width: 19%;
        height: 100%;
        & > img {
            height: 100%;
        }
    }
    &__name {
        width: 33%;
      
    }
    &__delete {
        width: 6%;
    }
    &__total,
    &__quantity,
    &__price {
        width: 14%;
    }
    &__item {
        height: 150px;
        display: flex;
        font-weight: 500;
        font-size: 1.1rem;
        width: 100%;

        justify-content: center;
        align-items: center;
        text-align: center;
        border-bottom: 1px solid rgb(220, 220, 220);
    }
}
@import "../../../App.scss";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");

.cart {
    &__wrapper {
        font-family: "Quicksand", sans-serif;
        width: 100%;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    &__title {
        display: flex;
        font-weight: 700;
        font-size: 1.1rem;
        width: 100%;
        height: 50px;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-bottom: 1px solid rgb(220, 220, 220);
    }
    &__img {
        margin-top: 30px;
        width: 19%;
        height: 100%;
        // margin-top: 10px;
        & > img {
            height: 120px;
            width: 120px;
            object-fit: cover;
            // margin-bottom: 10px;
        }
    }
    &__name {
        width: 33%;
    }
    &__delete {
        width: 6%;
    }
    &__total,
    &__quantity,
    &__price {
        width: 14%;
    }
    &__item {
        height: 150px;
        display: flex;
        font-weight: 500;
        font-size: 1.1rem;
        width: 100%;

        justify-content: center;
        align-items: center;
        text-align: center;
        border-bottom: 1px solid rgb(220, 220, 220);
    }
}

.cart__delete :hover {
    cursor: pointer;
}

.payment__cart {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
.radio {
    margin-bottom: 30px;
    width: 20px;
    height: 20px;
}
.cart__container{
    padding: 0 10px;
}
.payment__ATM {
    margin: 10px auto;
    width: 530px;
    background: hsla(0, 0, 0.71, 0.05);
    border: 1px solid #eee;
    margin-bottom: 30px;
    // box-shadow: 0 4px 8px 0 rgb(0 0 0.1);
    border-radius: 4px;
    padding: 12px 30px;

    box-sizing: border-box;
}

.img-list {
    display: flex;
    justify-content: flex-end;
}
.bank-img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}
.input__payment {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    position: relative;
    display: block;
    width: 445px;
    height: 30px;
    padding: 0.375rem 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;

    &:focus-visible {
        outline: unset;
    }
}
.last {
    width: 190px !important;
}
.btn_payment {
    width: 100% !important;
    & > button {
        min-width: none !important;
        max-width: none !important;
        font-size: 28px;
    }
    & > input:last-child {
        background-color: $primary-color;
        color: #fff;
        height: 48px;
        font-size: 1rem;
        min-width: 80px;
        max-width: 330px;
        padding: 0 20px;
        border-radius: 5px;
        cursor: pointer;
        font-family: "Quicksand", sans-serif;
        text-align: center;
        font-weight: 500;

        border: 1px solid $primary-color;
        transition: all 0.3s ease-in-out;
        &:hover {
            opacity: 0.8 !important;
        }
    }
}
.payment__cart__total {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    &__button {
        flex-direction: row;
        justify-content: flex-end;
    }
}
// .visible{
//   display: none;
// }
